<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Crear Cupon</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeCuponM()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doCupon()">
      <div class="list">
          <label class="item item-input">
            <span class="input-label">Trago</span>
            <input type="text" ng-model="cuponData.drink">
          </label>
        <label class="item item-input">
          <span class="input-label">Descripcion</span>
          <input type="text" ng-model="cuponData.description">
        </label>
        <label class="item item-input">
          <span class="input-label">Precio</span>
          <input type="text" ng-model="cuponData.price">
        </label>
        <label class="item item-input">
          <span class="input-label">Stock</span>
          <input type="text" ng-model="cuponData.stock">
        </label>
        <input type="hidden" ng-model="cuponData.store_id">

        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
