<style>
    .input-label{
        font-size: 20px
    }
</style>
<ion-modal-view>
  <ion-header-bar>
    <h1 class="title" style="width:100%;left:0!importantright: 0;"><img src="img/logo.png" class="logo"></h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeCuponM()"><i class="ion-close"></i></button>
    </div>
  </ion-header-bar>
  <ion-content>
      <div class="container cTiu"><h1 style="margin-bottom: 0px;">CREAR CUPON</h1></div>
    <form ng-submit="doCupon()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label ">Nombre</span>
          <input type="text" ng-model="cuponData.title">
        </label>
        <label class="item item-input">
          <span class="input-label ">Descripcion</span>
          <input type="text" ng-model="cuponData.description">
        </label>
        <label class="item item-input">
          <span class="input-label ">Precio</span>$
          <input type="text" ng-model="cuponData.price">
        </label>
        <label class="item item-input">
          <span class="input-label ">Stock</span>
          <input type="text" ng-model="cuponData.stock">
        </label>
        <label class="item item-input">
          <span class="input-label ">Stock</span>
          <input type="date" ng-model="cuponData.expires">
        </label>
        <div class="button-bar" style="margin-top:10px;">
            <button class="button button-balanced" type="submit" style="font-size: 28px;font-weight: bolder;">CREAR</button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
