<style>
.bar-header{
    display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;;
}
  h4{
    text-align: center;
  }
  .col {
      border-bottom: 1px solid #ddd;
  }
  h6 {
      font-size: 15px;
  }
  #cupon h2{
      font-family: 'Bowlby One SC'!important;
  }
  .h-i{
    font-size: 30px;

  }
  .button-outline.button-outline{
      border:none;
  }
.btn-obtcupon{
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'Bowlby One SC'!important;
}
.angular-google-map-container { height: 300px;margin-bottom: 20px}
</style>
<ion-view view-title="">
  <ion-nav-title>
      <img src="img/logo.png" class="logo">
    </ion-nav-title>
  <ion-content id ="cupon" style="top:61px">

    <img src="img/promo1.jpg" alt="" style="width: 100%;    height: 200px;">
    <!--Social-->
    <p>COMPARTIR</p>
    <div class="button-bar" style="margin-top: -10px;">
        <button class="button  ion-social-facebook button-positive" ng-click="shareF()" style="font-size: 40px;"></button>
        <button class="button  ion-social-whatsapp button-balanced" ng-click="shareW()" style="font-size: 40px;"></button>
        <button class="button  ion-social-twitter button-calm" ng-click="shareT()" style="font-size: 40px;"></button>
    </div>

    <div class="row">
      <div class="col" align="center">
        <h2>{{cupon.description}}</h2>
        <h4><strong class="colorP">{{cupon.price}}</strong></h4>
      </div>
    </div>
    <div class="row">
      <div class="col" align="center">
        <h4><strong class="colorP">26</strong></h4>
        <h6 class="mb">cupones generados</h6>
      </div>
      <div class="col" align="center">
        <h4><strong class="colorP">{{cupon.stock}}</strong></h4>
        <h6 class="mb">Stock</h6>
      </div>
    </div>
    <div class="row">
      <div class="col" align="center">
        <h4 class="h-i"><strong class="colorP"><i class="icon ion-iphone"></i></strong></h4>
        <h6 class="mb"><a id="telefono" href="tel:022 354 87 65">{{cupon.store.phone}}</a></h6>
      </div>
      <div class="col" align="center">
        <h4 class="h-i"><strong class="colorP"><i class="icon ion-clock"></i></strong></h4>
        <h6 class="mb"> {{cupon.store.hours}}</h6>
      </div>
    </div>


    <div class="row">
      <div class="col" align="center" style="margin-bottom:40px">
        <h4 class=""><strong class="colorP"><i class="icon ion-map"></i></strong>  {{cupon.store.address}}, {{cupon.store.comuna}}, {{cupon.store.region}}</h4>
        <ui-gmap-google-map center='map.center' zoom='map.zoom' draggable="false" data-tap-disabled="true">
            <ui-gmap-marker idKey='0' coords='coords.center' draggable="false"></ui-gmap-marker>
        </ui-gmap-google-map>
      </div>

    </div>

  </ion-content>
  <ion-footer>
      <div class="tabs-striped tabs-color-balanced">
          <div class="tabs">
            <button class="button button-block button-outline btn-obtcupon" style="bottom: 11px;color:#fadb0a" ng-click="qrG()">
              Obtener Cupon
            </button>
          </div>
      </div>
  </ion-footer>
</ion-view>
