<style>
.bar-header{
  display: flex;
}
 #cupons p, #cupons span{
  font-family: 'Cabin'!important;
}
#cupons h2, #cupons h1{
  font-family: 'Cabin'!important;
  text-transform: uppercase;
}
#cupons h1{
  font-weight: bold;
}
#cupons .item-avatar{
  padding-left: 0!important;
  min-height: 0!important;
}
#cupons .item-avatar > img:first-child{
  min-width: 70px!important;
  min-height: 70px!important;
}
.container{
  text-align: left;
}
</style>
<ion-view id="cupons">
    <ion-nav-title>
<i class="icon ion-ios-search" style="font-size: 40px;margin-right: 20px;margin-left: 10px;" ng-click="search()"></i>
        <img src="img/logo.png" class="logo">

    </ion-nav-title>
    <ion-slide-box auto-play="true"   style="margin-top:61px" >
      <ion-slide>
        <img src="img/banner_promo.png" alt="" class="responsive">

        </button>
      </ion-slide>
      <ion-slide>
        <img src="img/banner_promo.png" alt="" class="responsive">

        </button>
      </ion-slide>

    </ion-slide-box>
    <ion-content style="top:381px">
      <div class="container"><h1>Cupones</h1></div>
      <div style="margin-top: -14px;">
        <div class="list list-cupons" ng-repeat="cupon in cupons">
            <a class="item item-thumbnail-left" href="#/app/cupon/{{cupon.id}}">
                <div class=" item-avatar">
                  <img src="img/promo1.jpg">
                </div>


                <h2 class="desc">{{cupon.description}}</h2>
                <p class="price">${{cupon.price}}</p>
                <p class="naMe">{{cupon.store.name}}</p>
                <span class="badge ">{{cupon.store.distance | number:0}} m</span>
            </a>
        </div>
      </div>
     </ion-content>

</ion-view>
