<style>
.bar-header{
    display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;;
}
 #cupons p, #cupons span{
  font-family: 'Cabin'!important;
}
#cupons h2, #cupons h1{
  font-family: 'Bowlby One SC'!important;
  font-weight: 400;
  text-transform: uppercase;
}
#cupons h1{
  font-weight: 400;
  color:#ee4931
}
#cupons .item-avatar{
  padding-left: 0!important;
  min-height: 0!important;
}
#cupons .item-avatar > img:first-child{
  min-width: 70px!important;
  min-height: 70px!important;
}
.container{
  text-align: center;
}
.bar .button.back-button{
    display: none;
}
.boton-search{
    position: absolute;
    font-size: 40px;margin-right: 20px;margin-left: 10px;
}
.btn-back2{
    display: block;
    position: absolute;
    font-size: 30px!important;
    color: white!important;
    right: 0;
    top: 3px;
}
.btn-back2sr{
    display: none;
}
</style>
<ion-view id="cupons">

    <ion-nav-title>

        <img src="img/logo.png" class="logo">
    </ion-nav-title>
    <ion-nav-buttons side="right">
      <button id="cuponSearch" class="button button-icon button-clear ion-search" ng-click="search()">
      </button>
      <button id="cuponBack" class="button button-icon button-clear ion-loop btn-back2 btn-back2sr" ng-click="reload()">
      </button>
    </ion-nav-buttons>
    <ion-content >
        <ion-refresher pulling-text="Refrescar..."  on-refresh="doRefresh()"></ion-refresher>
        <ion-slide-box auto-play="true" does-continue="true">
          <ion-slide>
            <img src="img/slides/banner3.png" alt="" class="responsive">

            </button>
          </ion-slide>
          <ion-slide>
            <img src="img/slides/banner4.png" alt="" class="responsive">

            </button>
          </ion-slide>

        </ion-slide-box>

      <div class="container"><h1 style="margin: 8px auto 20px;">Cupones</h1></div>
      <div style="margin-top: -14px;">
        <div class="list list-cupons" ng-repeat="cupon in cupons">
            <a class="item item-thumbnail-left" href="#/app/cupon/{{cupon.id}}">
                <div class=" item-avatar" ng-if="cupon.image_id == null" style="   ">
                    <img src="img/icon.png" style="top: 0;">
                </div>
                <div class=" item-avatar" ng-if="cupon.image_id != null" style="    ">
                    <img ng-src="http://skizzordz.exis.cl:8000/image/scale/140/140/{{cupon.image_id}}" style="top: 0;">
                </div>
                <h2 class="desc">{{cupon.description}}</h2>
                <p class="">
                    <div id="rating" style="color: #fadb0a;">
                      <i id="r1" class="ion-ios-star ro" ng-click="rank('1')"></i>
                      <i id="r2" class="ion-ios-star ro" ng-click="rank('2')"></i>
                      <i id="r3" class="ion-ios-star-half ro" ng-click="rank('3')"></i>
                      <i id="r4" class="ion-ios-star-outline ro" ng-click="rank('4')"></i>
                      <i id="r5" class="ion-ios-star-outline ro" ng-click="rank('5')"></i>
                    </div>
                </p>
                <p class="naMe">{{cupon.store.name}} / {{cupon.store.storetype.label}}</p>

                <p style="color:white"> {{cupon.store.distance | number:-1}} km </p>

                <p style="float: right;margin-top: -20px;color: white;font-size: 18px;    font-weight: bolder;">${{cupon.price}}</p>


            </a>
        </div>
      </div>
     </ion-content>
     <ion-footer class="cuponesFooter">
         <img src="img/scrolld.png" alt="">
     </ion-footer>

</ion-view>
