<style>

    .list-p, .list-p a{
        padding: 2px 16px!important;
    }
    .list-i{
            margin-left: 16px;
    }
</style>
<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-black">
      <ion-nav-back-button class="button-clear">
        <!--i class="icon ion-ios-arrow-left"></i-->
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-black">
        <a class="item item-avatar" href="#"  style="    margin-top: -10px;min-height: 0px;">
          <img src="{{user.foto}}">
      </a>
      <h1  style="width:100%;padding:0;font-size:16px">{{user.email}}</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/cupons" class="list-p">
            <img class="menu-img" src="img/crear.png" alt="">
              <p class="menu-p">Cupones</p>
        </ion-item>
        <ion-item menu-close href="#/app/stores" class="list-p">
             <img class="menu-img" src="img/store.png" alt="">
         <p class="menu-p"> Locales</p>
        </ion-item>
        <ion-item menu-close ng-click="MyCupon()" class="list-p">
            <img class="menu-img list-i" src="img/miscupones.png" alt="" >
          <p class="menu-p">Mis Cupones</p>
        </ion-item>
        <ion-item menu-close ng-click="login()" class="list-p">
            <img class="menu-img list-i" src="img/ingreso.png" alt="" >
          <p class="menu-p"> Ingreso</p>
        </ion-item>
        <ion-item menu-close ng-click="out()" class="list-p">
          <img class="menu-img list-i" src="img/exit1.png" alt="" >
          <p class="menu-p"> Salida</p>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
