<style>
.col {
border-bottom: 1px solid #ddd;
}
</style>
<ion-view view-title="">
  <ion-nav-title>
      <img src="img/logo.png" class="logo">
    </ion-nav-title>
  <ion-content style="top:61px">
    <img src="img/boti.png" alt="" style="width: 100%;height: 100px;">
    <div class="row">
      <div class="col" align="center">
		<h1>{{owner.stores[0].name}}</h1>
        <p style="color:white">{{owner.stores[0].address}}</p>
        <h4><strong class="colorP">{{cupon.price}}</strong></h4>
      </div>
    </div>

    <div class="row">
      <div class="col" align="center">
        <h4><strong class="colorP">26</strong></h4>
        <h6 class="mb">canjeados</h6>
      </div>
      <div class="col" align="center">
        <h4><strong class="colorP">2</strong></h4>
        <h6 class="mb">Activos</h6>
      </div>
    </div>
    <div id="homeOwn">
        <h1>Cupones Activos</h1>
        <div class="list" ng-repeat="cupon in cupons">
            <a class="item item-avatar" href="#">
              <img src="venkman.jpg">
              <h2>{{cupon.description}}</h2>
              <p>{{cupon.price}}</p>
            </a>
        </div>
    </div>
    <div id="logsOwn" style="display:none">
        <h1>Registro de Actividades</h1>
        <div class="list" ng-repeat="log in logs">
            <a class="item item-avatar" href="#">
              <img src="venkman.jpg">
              <h2>{{log.description}}</h2>
              <p>{{log.price}}</p>
            </a>
        </div>
    </div>


  </ion-content>
  <ion-footer>
      <div class="tabs-striped tabs-color-balanced">
          <div class="tabs">
              <a class="tab-item">
                <i class="icon ion-home" ></i>
                Inicio
              </a>
              <a class="tab-item" ng-click="leerQr()">
                <i class="icon ion-android-wifi"></i>
                Scan
              </a>
              <a class="tab-item" ng-click="create()">
                <i class="icon ion-plus"></i>
                Crear
              </a>
              <a class="tab-item" ng-click="logs()">
                <i class="icon ion-clipboard"></i>
                Logs
              </a>
          </div>
      </div>
  </ion-footer>
</ion-view>
