<style>
.bar-header{
  display: flex;
}
</style>
<ion-view id="tour-view">
  <ion-nav-title>
      <img src="img/logo.png" class="logo">
    </ion-nav-title>
  <ion-slide-box auto-play="true"  does-continue="true" >
    <ion-slide>
      <img src="img/slides/sl1.jpg" alt="" class="responsive">
      <button class="button button-block button-outline button-balanced btn_start">
        Obtener Cupon
      </button>
    </ion-slide>
    <ion-slide>
      <img src="img/slides/sl2.jpg" alt="" class="responsive">
      <button class="button button-block button-outline button-balanced btn_start">
        Obtener Cupon
      </button>
    </ion-slide>
    <ion-slide>
      <div class="list lista-inicio">

        <a class="item item-icon-left" href="#/app/cupons">
          <img class="icon" src="../img/crear.png" alt="" style="    width: 32px;    height: 42px;    top: 5px;">
          Busca tu Mansa Promo
        </a>

        <a class="item item-icon-left item-icon-left" href="#/app/stores">
          <i class="icon ion-flag"></i>
          Busca tu Manso Local

        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-ios-list"></i>
          Mis Mansas Promos
        </a>



      </div>
    </ion-slide>
  </ion-slide-box>

</ion-view>
