<style>


    .text-Qr{
        text-align: center;
      padding: 10px;
      color: white;
      font-size: 20px;
      background-color: #ee4931!important;

      margin-bottom: 11px;
    }
    .btn-Qr{
        bottom: 11px;
        margin: 0 auto;
        font-size: 30px;
        text-transform: uppercase;
        padding: 5px;
    }
</style>
<ion-modal-view>
  <ion-header-bar>
    <h1 class="title" style="right:0!important"><img src="img/logo.png" class="logo"></h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeqrG()"><i class="ion-close"></i></button>
    </div>
  </ion-header-bar>
  <ion-content >
      <div style="background-color:rgb(21,21,21);padding: 20px 0">
          <div style="background-color:#fff;padding:10px auto;text-align:center;width: 90%;margin: 0 auto;">
              <br>
              <qr text="string" correction-level="'H'"></qr>
              <br>
              <br>
          </div>
      </div>

    <div>
      <h3 class="text-Qr" >Muestra este codigo en el local establecido para Canjear</h3>
      <p style="text-align: center; color:white;font-size:18px">* Qr unico y valido solo para este cupon</p>
    </div>
  </ion-content>
</ion-modal-view>
