<style>
  .modal{
    background-color: #000;
    background-image: url(img/search.png);
    background-size: 100% 110%;
    background-repeat: no-repeat;
    background-position-y: -30px;
  }
  .t1{
    left: 0!important;
    right: 0!important;
  }
  .input-label{
    color: white;
  }
</style>
<ion-modal-view>
  <ion-header-bar>
    <h1 class="title t1" style="left: 0;right: 0;">Busqueda</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeSearch()"><i class="icon ion-ios-close-empty" style="font-size:10px"></i></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doSearch()">
      <div class="list list-inset list-search">
        <label class="item item-input">
          <input type="text" placeholder="Search">
          <i class="icon ion-search placeholder-icon" style="    padding-right: 14px;"></i>

        </label>


          <div class="container" style="    margin-top: 30px;"><h1>Filtros</h1></div>
          <label class="item item-input item-select">
            <div class="input-label">
              Trago
            </div>
            <select>
              <option value="Pisco">Pisco</option>
              <option value="Ron">Ron</option>
              <option value="Whisky">Whisky</option>
              <option value="Tequila">Tequila</option>
              <option value="Gin">Gin</option>
              <option value="JaggerMeister">JaggerMeister</option>
              <option value="Brandy">Brandy</option>
            </select>
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Comuna
            </div>
            <select>
              <option value="Santiago">Santiago</option>
              <option value="Las Condes">Las Condes</option>
              <option value="Providencia">Providencia</option>
              <option value="Nuñoa">Nuñoa</option>
              <option value="La Reina">La Reina</option>
            </select>
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Precio
            </div>
            <select>
              <option value="0 - 4">$ 0 - 4,000</option>
              <option value="4 - 10">$ 4,000 - 10,000</option>
              <option value="10 - 20">$ 10,000 - 20,000</option>
              <option value="20 - +">$ 20,000 - mas</option>
            </select>
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Local
            </div>
            <select>
              <option value="Bar">Bar</option>
              <option value="Pub">Pub</option>
              <option value="Disco">Disco</option>
              <option value="Restobar">Restobar</option>
              <option value="Botilleria">Botilleria</option>
              <option value="FonoCopete">FonoCopete</option>
            </select>
          </label>
            <button class="button button-block button-balanced" type="submit">Buscar</button>

      </div>
    </form>
  </ion-content>
</ion-modal-view>
