<style>
.bar-header{
  display: flex;
}
.container{
  text-align: left;
      font-weight: bold;
}
</style>
<ion-view id="stores">
    <ion-nav-title>

        <img src="img/logo.png" class="logo">
    </ion-nav-title>

    <ion-content style="top:70px">
        <div class="container"><h1 style="margin-bottom:0px">LOCALES</h1></div>
        <div class="list list-cupons" ng-repeat="store in stores" style="    border-bottom: 1px solid #ddd">
            <a class="item item-thumbnail-left" href="#/app/store/{{store.id}}">
                <img src="img/boti.png">
                <h2 class="desc colorP">{{store.name}}</h2>
                <p class="" style="color:white">{{store.comuna}}</p>
                <p class="naMe"style="color:white">{{store.address}}</p>
                <span class="badge "style="color:white;right: 10px;">{{store.distance | number:0}} m</span>
            </a>
        </div>

     </ion-content>

</ion-view>
