<style>
.bar-header{
  display: flex;
}
.container h1{
    font-family: 'Bowlby One SC'!important;
}
#cupons .item-avatar{
  padding-left: 0!important;
  min-height: 0!important;
}

</style>
<ion-view id="cupons">
    <ion-nav-title>
        <img src="img/logo.png" class="logo">
    </ion-nav-title>
    <ion-content style="top:61px">
        <div class="container cTiu"><h1 style="margin-bottom:0px;">LOCALES</h1></div>
        <div class="list list-cupons" ng-repeat="store in stores">
            <a class="item item-thumbnail-left" href="#/app/store/{{store.id}}" style="padding-left: 80px;">
                <div class=" item-avatar" ng-if="store.logo_id == null">
                    <img src="img/icon.png" style="min-width: 55px!important;min-height: 55px!important;top: 0px;">
                </div>
                <div class=" item-avatar" ng-if="store.logo_id != null">
                    <img ng-src="{{store.logo}}" style="min-width: 55px!important;min-height: 55px!important;top: 0px;">
                </div>
                <div style="width: 65%;">
                    <h2 class="desc" style="margin-top:10px">{{store.name}}</h2>
                    <p style="color:white;white-space: normal;">{{store.address}}</p>
                </div>
                <p class="price kmS ">{{store.distance | number:1 }} km</p>
            </a>
        </div>
     </ion-content>
     <ion-footer class="cuponesFooter">
         <img src="img/scrolld.png" alt="">
     </ion-footer>
</ion-view>
