<style>
#cupons p, #cupons span{
 font-family: 'Cabin'!important;
}
#cupons h1{
 font-weight: 400;
 color:#ee4931
}
#cupons .item-avatar{
 padding-left: 0!important;
 min-height: 0!important;
}


.bar .button.back-button{
    display: none;
}
.boton-search{
    position: absolute;
    font-size: 40px;margin-right: 20px;margin-left: 10px;
}
.btn-back2{
    display: block;
    position: absolute;
    font-size: 30px;
}

</style>
<ion-view view-title="" id="cupons">
  <ion-nav-title>

      <img src="img/logo.png" class="logo">
    </ion-nav-title>
  <ion-content style="top:61px">

    <div class="container cTiu"><h1 style="margin-bottom:0px;color:white">Local {{cupons[0].store.name}}</h1></div>

    <div style="margin-top: 10px;">
        <div class="list list-cupons" ng-repeat="cupon in cupons">
            <a class="item item-thumbnail-left" href="#/app/cupon/{{cupon.id}}">
                <div class=" item-avatar" ng-if="cupon.store.logo_id == null" style="   ">
                    <img src="img/icon.png" style="top: 10px;">
                </div>
                <div class=" item-avatar" ng-if="cupon.store.logo_id != null" style="    ">
                    <img src="http://hydra.lan:8000/image/{{cupon.store.logo_id}}" style="top: 10;">
                </div>
                <h2 class="desc">{{cupon.title}}</h2>
                <p class="">
                    <div id="rating" style="color: #fadb0a;">
                        <i id="r1" class="ion-ios-star ro" ng-click="rank('1')"></i>
                        <i id="r2" class="ion-ios-star ro" ng-click="rank('2')"></i>
                        <i id="r3" class="ion-ios-star-half ro" ng-click="rank('3')"></i>
                        <i id="r4" class="ion-ios-star-outline ro" ng-click="rank('4')"></i>
                        <i id="r5" class="ion-ios-star-outline ro" ng-click="rank('5')"></i>
                    </div>
                </p>
                <p class="naMe">{{cupon.store.name}} / {{cupon.store.storetype.label}}</p>
                <p style="color:white"> {{cupon.store.distance | number:-1}} km </p>
                <p class="price">${{cupon.price}}</p>
            </a>
        </div>
    </div>
  </ion-content>

</ion-view>
