/* Empty. Add your own CSS if you like */
body{
    background-image: url(../img/background.png);
}
input{
  color: white!important;
}
.list-search{
  background-color: transparent;
}
.desc{
  white-space: normal!important;
}
.item-select select{
      background-color: rgb(21,21,21);
  color: white;
}
label.item.item-input.item-select {
    margin: 30px auto;
}
.logo{
    width: 70%;
    margin-top: 10px;
    max-width: 300px;
}

.bar .button.back-button{
    margin-top: 3px;
}
.bar.bar-dark{
    background-image: url('../img/header.png')!important;
    height: 60px;
}
.back-text span.default-title {
    display: none;
}
.bar .title {
    font-size:20px;
    top: 5px;
    color: white;
}
.lista-inicio{
    height: 100%;
    background-image: url(../img/perfiles.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 80%;
    margin-top: 0px!important;
}
.lista-inicio a.item{
    text-decoration: none;
    background-color: rgba(0,0,0,0.8);
    color: white;
    text-align: left;
}
.lista-inicio i{
    color: #259c85;
}
.list-cupons .item, .list-cupons h2{
    background-color: transparent;
    color: white;
}
.pane, .view{
    background-image: url(../img/background.png);
}
.menu{
    background-color: rgb(21,21,21);

}
.bar{
    background-color: transparent;
}
.menu .bar-header{
    background-image: url('../img/header.png')!important;
    height: 60px;
    background-size: cover;
}
.bar-header{
    background-image: url('../img/header.png')!important;
    height: 61px;

}
.slider-pager {
    bottom: 60px;
}
.slider-pager .slider-pager-page{
    color: white;
}
.list{
    margin-top: 16px;

}
.item, .item-complex .item-content{
    background-color: rgb(21,21,21);
    color: white;
    border: none;
    font-size: 20px;
}
/**Start**/
#tour-view .slider {
    height: 100%;
}
#tour-view .slider-slide {
    padding-top: 60px;
    text-align: center;
}
#tour-view .icon-slide {
    font-size: 20em;
    display: inline-block;
}
.btn_start{
    position: absolute;
    bottom: 80px;
    width: 96%!important;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.responsive{
    width: 100%;
    height: 100%;
}
.lista-fInit{
    margin-top: 13%;
}
.lista-fInit .input-label,.lista-fInit input{
    color: white;
}
.lista-fInit .item{
    background-color: rgba(21,21,21,0.65);
    padding: 5px 20px;
}
.tabs-striped .tabs{
  background-image: url('../img/header.png')!important;
background-size: cover;
background-color: transparent;
}
.tabs-striped .tabs i{
  color: #259c85;
}

#cupons span.badge.ng-binding {
    right: 0;
    top: 60px;
}
#cupons p.naMe{
  position: absolute;
  bottom: 17px;
  color: #259c85;
}
#cupons h2.desc{
  width: 70%;
white-space: pre-line;
}
#cupons p.price{
  font-weight: 900;
  top: 16px;
font-size: 16px;
position: absolute;
right: 8px;
color: #259c85;
}
#cupons .list{
  margin: 0;
  border-color: #ddd;
}
#cupons .item-thumbnail-left{
  padding-top: 16px;
}
h1 {
  display: inline-block;
  padding: 0 15px;
  position: relative;
  color: white;
  font-size: 30px;
}

h1:before,
h1:after {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
  width: 400%;
}
h1:before {
  right: 100%;
}
h1:after {
  left: 100%;
}
.container {
  overflow: hidden;
  text-align: center;
  width: 95%;
  margin: 0 auto;
}
