/* Empty. Add your own CSS if you like */
body{
    background-image: url(../img/background.png);
    font-family: 'Cabin'!important;
}
input{
  color: white!important;
}
.bar .title.title-left{
    text-align: center;
}
.list-search{
  background-color: transparent;
}
.desc{
  white-space: normal!important;
}
.item-select select{
    background-color: rgb(21,21,21);
  color: white;
}
.cuponesFooter{
    position: absolute;
bottom: 10px;
width: 100%;
text-align: center;
}
label.item.item-input.item-select {
    margin: 30px auto;
}
.logo{
    width: 100%;
    margin-top: 0px;
    max-width: 250px;

}

.bar .button.back-button{
    margin-top: 3px;
    display: none;
}
.bar.bar-dark{
    background-image: url('../img/header.png')!important;
    height: 60px;
}
.has-header {
    top: 61px;
}
.back-text span.default-title {
    display: none;
}
.bar .title {
    font-size: 20px;
    padding-top: 2%;
    color: white;
    height: 61px;

}
.bar .button.button-icon {

    color: white;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{
    font-size:18px;
}
.lista-inicio{
    height: 100%;
    background-image: url(../img/perfiles.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 80%;*/
    margin-top: 0px!important;
}
.lista-inicio a.item{
    text-decoration: none;
    background-color: rgba(0,0,0,0.8);
    color: white;
    text-align: left;
}
.lista-inicio i{
    color: #259c85;
}
.colorP{
        color: #ee4931!important;
}
.list-cupons .item, .list-cupons h2{
    background-color: transparent;
    color: white;
    padding-top: 10px;
}
.pane, .view{
    background-color: #333;

}
.menu{
    background-color: rgb(21,21,21);

}
.bar{
    background-color: transparent;
}
.menu-img{
    width: 36px;
    margin-left: 4px;
    float: left;
    margin-right: 20px;
}
.menu-p{
    margin-top: 12px;
    color: white!important;
    font-size: 18px!important;
}
.menu .bar-header{
    background-color: rgb(21,21,21)!important;
    height: 61px;

}
.bar-header{
    background: #312781!important;
    height: 61px;
    border-bottom: 1px solid #fff;
}
.modal{
        background-color: rgb(21,21,21);
}
.input-label{
    color: white;
}
.slider-pager {
    bottom: 15px;
}
.slider-pager .slider-pager-page{
    color: white;
}
.list-cupons{
    margin-top: 16px;
    border-bottom: 1px solid #ddd;

}
.slider-slides{
    height: 40vh!important;
}

.item, .item-complex .item-content{
    background-color: rgb(21,21,21);
    color: white;
    border: none;
    font-size: 20px;
}
/**Start**/
#tour-view .slider {
    height: 100%;
}
#tour-view .slider-slide {
    padding-top: 60px;
    text-align: center;
}
#tour-view .icon-slide {
    font-size: 20em;
    display: inline-block;
}
.btn_start{
    position: absolute;
    bottom: 80px;
    width: 96%!important;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.responsive{
    width: 100%;
    
}
.lista-fInit{
    margin-top: 13%;
}
.lista-fInit .input-label,.lista-fInit input{
    color: white;
}
.lista-fInit .item{
    background-color: rgba(21,21,21,0.25);
    padding: 5px 20px;
}
.tabs-striped .tabs{

background-color: rgb(21,21,21);
}
.tabs-striped .tabs i{
  color: #fff;
}
.i-cupon{
  width: 55%;
height: auto!important;
margin-top: -2px!important;
}
#cupons span.badge.ng-binding {
    right: 0;
    top: 60px;
}
 p.naMe{
    color: white;
    text-transform: uppercase;
    width: 70%;
  white-space: pre-line;
}
 h2.desc{
    color:#ee4931;
    font-family: 'Bowlby One SC'!important;
    text-transform: uppercase;
    width: 70%;
    white-space: pre-line;
}
 p.price{
    position: absolute;
    right: 10px;
    width: 70px;
    height: 70px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #9e1981;
    top: 15px;
    color: white;
    padding: 25px 0px 16px 0;
    text-align: center;
    font-size: 16px;
}
}
#cupons .list{
  margin: 0;
  border: 1px solid #ddd;
    border-style: none none solid none;
}
#cupons .item-thumbnail-left{
  padding-top: 10px;
}
h1 {
  display: inline-block;
  padding: 0 15px;
  position: relative;
  color: white;
  font-size: 24px;
}

.container {
  overflow: hidden;
  text-align: center;
  width: 95%;
  margin: 0 auto;
}
